* {
    color: rgba(29, 18, 75);
}

body {
    font-family: 'Libre Baskerville', serif;
    background: linear-gradient(90deg ,#166a81 , rgb(201, 198, 198));
}

#app {
    display: grid;
    grid-auto-rows: minmax(90px , auto);
    grid-template-columns: 1fr;
    grid-template-areas: "headline" "form" "entry";
    justify-content: center;
    gap: .7em;
    width: 35vw;
    margin: 4em auto;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5%;
    box-shadow: .4em .6em .8em rgb(82, 81, 81);
    overflow: hidden;
}

.headline {
    display: grid;
    grid-area: headline;
    align-items: center;
    justify-content: center;
    padding: 0 .5rem;
    border-bottom: 2px dashed #a78861;
    background-color: #a2585c;
}

h2 {
    letter-spacing: .15em;
}

form{
    display: grid;
    grid-area: form;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    gap: 1em;
    font-size: .98rem; 
}

.entry {
    background: #a2585c;
    grid-area: entry;
    border-top: 2px dashed #a78861;
    padding: 1rem;
    font-size: 1.1rem;
}

.title{
    text-align: center;
    letter-spacing: .2em;
    font-size: 1.3em;
}

#entryHolder{
    margin-top: .7rem;
    display: grid;
    gap: .4rem;
}


/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block; 
    margin-bottom: .4rem;
}

input{
    display:block;
    height: 5vh;
}
 
input, textarea{
    background:#6a4d33db;
    width: 22vw;
    color: #fff;
    letter-spacing: .15em;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
    padding: .5rem;
    border: 2px solid #002d42;
    border-radius: 11%;
}

button{
    padding: .5rem 1rem;
    margin: 0 auto 1rem;
    background: #2c3346;
    color: rgb(162 88 92);
    font-size: larger;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
    border: 2px solid #002d42;
    border-radius: 40%;
    letter-spacing: .1em;
    cursor: pointer;
}

button.invalid {
    cursor: not-allowed;
}

 

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    font-family: 'Libre Baskerville', serif;
    color: rgba(29, 18, 75);
} 