* {
    box-sizing: border-box;
}

body {
    font-family: 'Libre Baskerville', serif;
    background: linear-gradient(90deg ,#166a81 , rgb(201, 198, 198));
    color: rgba(29, 18, 75);
}

.row>* {
    margin-top: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

.row {
    margin: 0 0 3rem;
}

.card {
    background: none;
    box-shadow: 12px 9px 16px 2px;
}

.row .card .card-header { 
    border-bottom: 2px dashed #a78861;
    background-color: #a2585c;
}

.row .card-body {
    background: none;
    display: none;
    margin: 0 auto;
    margin-top: 1rem;
    font-size: .98rem; 
}

.row .card-body.show {
    display: block;
}

.entry {
    background: #a2585c;
    border: 2px dashed #a78861;
    border-radius: 20%;
    padding: 1rem;
    margin: 2rem auto;
    max-width: 50%;
}

.card-title{
    letter-spacing: .2em;
    font-size: 1.4em;
}

.entry .card-body{
    color: #fff;
    font-size: 1.1rem;
    letter-spacing: .12em;
}

.entry .card-body>div {
    padding-bottom: 0.3rem;
}

/*  Basic Styling To Override Default For Basic HTML Elements */

h1,h2 {
    letter-spacing: .15em;
}

label{
    display:block; 
    margin-bottom: .4rem;
}

input{
    display:block;
}
 
input, textarea{
    background:#6a4d33db;
    color: #fff;
    letter-spacing: .15em;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
    padding: .5rem;
    margin-bottom: 1rem;
    border: 2px solid #002d42;
    border-radius: 11%;
}

button{
    padding: .5rem 1rem;
    margin: 0 auto 1rem;
    background: #2c3346;
    color: rgb(162 88 92);
    font-size: larger;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
    border: 2px solid #002d42;
    border-radius: 40%;
    letter-spacing: .1em;
    cursor: pointer;
}

button.invalid {
    cursor: not-allowed;
}

a {
    text-decoration: none;
}
 

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    font-family: 'Libre Baskerville', serif;
    color: rgba(29, 18, 75);
} 